<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <title>{{website_title}}</title>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.js"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.min.map"></script>
    </head>
    <body>

        <button type="button" id='UN_LOCK' class="btn btn-default">UN_LOCK</button>
        <div>
            Door is now:
            <p id="un_lock_value">
                {{ un_lock_ret }}
            </p>
        </div>

        <button type="button" id='SPK' class="btn btn-default">SPK</button>
        <div>
            Speaker is now:
            <p id="spk_value">
                {{ spk_ret }}
            </p>
        </div>

        <button type="button" id='UPDATE' class="btn btn-default">UPDATE</button>

        <script>
         $(document).ready(function(){
             $("#UN_LOCK").click(function(){
                 $.get("{% url 'index-view' %}", {'un_lock_button':1}, function(ret){
                     $('#un_lock_value').html('') //清空前面的结果
                     $('#un_lock_value').html(ret) //
                 })
             });
             $("#SPK").click(function(){
                 $.get("{% url 'index-view' %}", {'spk_button':2}, function(ret){
                     $('#spk_value').html('') //清空前面的结果
                     $('#spk_value').html(ret) //
                 })
             });
             $("#UPDATE").click(function(){
                 $.get("{% url 'index-view' %}", {'update_button':0});
             });
         });
        </script>
    </body>
</html>
